<template>
  <div class="v-slider-item">
    <img :src=" require('../../assets/img/' + item_data.img) " alt="">
      <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'v-slider-item',
    props: {
      item_data: {
        type: Object,
        default: () => {
        }
      },

      imageSlide: {
        type: Boolean,
        default: true,
      }
    },

    data() {
      return {}
    },

    computed: {},
  }
</script>

<style scoped lang="scss">
  .v-slider-item {
    margin-left: 80px;
    width: 100vw;
  }
</style>
