<template>
  <section class="v-section-skier">
    <div class="skier">
      <div class="skier__title">
        <h1>События декабря</h1>
      </div>
      <div class="skier__mountain">
        <div class="skier__flag flag__one">
          <span class="skier__date">10</span>
          <a href="#" class="skier__link" @click.prevent>Катаемся на лыжах</a>
        </div>
        <div class="skier__flag flag__two">
          <span class="skier__date">21</span>
          <a href="#" class="skier__link" @click.prevent>Турнир по армрестлингу</a>
        </div>
        <div class="skier__icon" ref="skier"></div>
        <div class="skier__flag flag__three">
          <span class="skier__date">24</span>
          <a href="#" class="skier__link" @click.prevent>Новый год в «Максиме»</a>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'v-section-skier',
    data() {
      return {
        skier: null,
        timer: null,
        i: 1,
        timePassed: 0,
      }
    },
    methods: {

      skierAnimate() {
        this.skier = this.$refs.skier;
        this.go();
      },

      go() {
        const that = this;
        this.timer = setInterval(() => {
          this.i = this.i + 30;
          this.timePassed = this.i - 1;
          that.skier.style.left = -this.timePassed / 5 + 2000 + 'px';
          that.skier.style.top = this.timePassed / 90 + 290 + 'px';
          if (this.timePassed > 15000) {
            this.timePassed = 0;
            this.i = 1;
            clearInterval(this.timer);
            this.go();
          }
        }, 10);
      },
    },
    mounted() {
      this.skierAnimate()
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  
  .skier:before {
    content: '';
    position: absolute;
    background: url('../../assets/img/ski-bg.png') no-repeat center center;
    transform: translate(-51%, 0);
    left: 50%;
    width: 100vw;
    min-width: 100%;
    height: 100%;
    z-index: -2;
    box-sizing: border-box;
  }
  
  .skier {
    position: relative;
    
    .skier__title {
      
      h1 {
        font-family: 'Intro-regular-alt', sans-serif;
        text-align: center;
        position: relative;
        top: 50px;
        color: #626161;
        font-size: 34px;
        z-index: 3;
      }
    }
    
    .skier__mountain {
      display: flex;
      justify-content: space-between;
      height: 520px;
      position: relative;
      
      .skier__icon {
        display: inline-block;
        z-index: 2;
        position: absolute;
        top: 300px;
        background: url('../../assets/img/skier.png') 0 0 no-repeat;
        width: 194px;
        height: 139px;
      }
      
      .skier__flag:before {
        content: '';
        background-color: #d0d0d0;
        position: absolute;
        width: 4px;
        height: 145px;
        top: 128px;
        left: 20px;
        z-index: -1;
      }
      
      .skier__flag:after {
        content: '';
        background-color: #d0d0d0;
        position: absolute;
        width: 4px;
        height: 185px;
        top: 100px;
        left: 234px;
        z-index: 3;
      }
      
      .flag__one {
        a {
          margin-left: 15px;
        }
      }
      
      .flag__two {
        top: -15px;
      }
      
      .flag__three {
        top: -20px;
      }
      
      .skier__flag {
        position: relative;
        margin-top: 226px;
        right: 15px;
        background: url('../../assets/img/flag.png') no-repeat center top;
        width: 245px;
        
        .skier__date {
          font-family: 'Intro-bold-Alt', sans-serif;
          font-size: 30px;
          padding: 0 10px;
        }
        
        .skier__link {
          font-family: 'Intro-regular', sans-serif;
          font-size: 18px;
          display: block;
          padding: 27px 0 0 25px;
        }
        
        .skier__link:hover {
          text-decoration: underline;
        }
        
        .skier__link, .skier__date {
          color: #ffffff;
          margin-bottom: 0;
          transform: skewY(-10deg);
          box-sizing: border-box;
          display: flex;
          align-items: center;
        }
      }
    }
  }
</style>
