<template>
  <section class="v-section-navigation">
    <div class="logo"><img class="logo__img" src="../../assets/img/logo.png" alt="logo"></div>
    <ul class="navigation">
      <li class="navigation__item">
        <a class="navigation__link" href="#" @click.prevent>
          <i class="navigation__img-wrapper">
            <img class="navigation__img" src="../../assets/img/club.png" alt="club">
          </i>
          <p class="navigation__text">Наш клуб</p>
        </a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="#" @click.prevent>
          <i class="navigation__img-wrapper">
            <img class="navigation__img" src="../../assets/img/card.png" alt="card">
          </i>
          <p class="navigation__text">Клубные карты</p>
        </a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="#" @click.prevent>
          <i class="navigation__img-wrapper">
            <img class="navigation__img" src="../../assets/img/life.png" alt="life">
          </i>
          <p class="navigation__text">Максима Life</p>
        </a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="#" @click.prevent>
          <i class="navigation__img-wrapper">
            <img class="navigation__img" src="../../assets/img/team.png" alt="team">
          </i>
          <p class="navigation__text">Команда</p>
        </a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="#" @click.prevent>
          <i class="navigation__img-wrapper">
            <img class="navigation__img" src="../../assets/img/contacts.png" alt="contacts">
          </i>
          <p class="navigation__text">Контакты</p>
        </a>
      </li>
    </ul>
  </section>
</template>

<script>
  export default {
    name: 'v-section-navigation',
    data() {
      return {}
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  
  .v-section-navigation {
    display: flex;
    align-items: center;
    height: 179px;
    
    .logo {
      width: 292px;
      
      .logo__img {
        cursor: pointer;
      }
    }
    
    .navigation {
      width: 688px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .navigation__link:before {
        transition: all 0.2s ease;
        position: absolute;
        left: 50%;
        margin-left: -25px;
        margin-top: 58px;
        width: 50px;
        height: 10px;
        border-radius: 50%;
        background: linear-gradient(to bottom, #ebebeb 0%, #ddd 100%);
        content: '';
      }
      
      .navigation__link:hover:before {
        width: 40px;
        height: 8px;
        margin-left: -20px;
      }
      
      .navigation__link:hover {
        position: relative;
        cursor: pointer;
        font-family: 'Intro-regular', sans-serif;
        color: #5b5b5b;
        
        .navigation__text {
          margin-top: 12px;
        }
        
        .navigation__img-wrapper {
          transition: all 0.3s cubic-bezier(0.68, -0.85, 0.265, 1.55);
          display: block;
          z-index: 100;
          position: relative;
          top: -18px;
          width: 60px;
          height: 60px;
          margin: auto auto 15px auto;
          border-radius: 50%;
          background: #e74069;
          line-height: 60px;
          text-align: center;
          
          .navigation__img {
            vertical-align: middle;
          }
        }
      }
      
      .navigation__link {
        position: relative;
        cursor: pointer;
        font-family: 'Intro-regular', sans-serif;
        color: #5b5b5b;
        
        .navigation__text {
          margin-top: 12px;
        }
        
        .navigation__img-wrapper {
          transition: all 0.3s cubic-bezier(0.68, -0.85, 0.265, 1.55);
          display: block;
          z-index: 100;
          position: relative;
          top: 0;
          width: 60px;
          height: 60px;
          margin: auto auto 15px auto;
          border-radius: 50%;
          background: #1bbdce;
          line-height: 60px;
          text-align: center;
          
          .navigation__img {
            vertical-align: middle;
          }
        }
        
        
      }
  
      li {
        text-align: center;
      }
  
      li:first-child {
        margin-left: 17px;
      }
    }
  }
</style>
