<template>
  <section class="v-section-slider">
    <div class="slider">
      <div class="slider__body" :style="{ 'marginLeft': '-' + (100 * currentSlideIndex) + '%' }">
        <v-slider-item
          v-for="item in carousel_data"
          :key="item.id"
          :item_data="item"
        >
          <div class="slider__banner">
            <div class="slider__content">
              <a class="slider__link" href="#" @click.prevent>{{ item.event }}</a>
              <p class="slider__text">{{ item.content }}</p>
              <button class="slider__btn prev" @click="prevSlide"><img src="../../assets/img/arrow-left.png" alt="arrow"></button>
              <button class="slider__btn next" @click="nextSlide"><img src="../../assets/img/arrow-right.png" alt="arrow"></button>
            </div>
          </div>
        </v-slider-item>
      </div>
    </div>
  </section>
</template>

<script>
  import vSliderItem from "./v-section-slider-item";

  export default {

    name: 'v-section-slider',
    components: {
      vSliderItem
    },
    props: {
      carousel_data: {
        type: Array,
        default: () => []
      },
      interval: {
        type: Number,
        default: 0,
      }
    },

    data() {
      return {
        currentSlideIndex: 0,
      }
    },

    methods: {
      prevSlide() {
        if (this.currentSlideIndex <= 0) {
          this.currentSlideIndex = this.carousel_data.length - 1
        } else {
          this.currentSlideIndex--
        }
      },

      nextSlide() {
        if (this.currentSlideIndex >= this.carousel_data.length - 1) {
          this.currentSlideIndex = 0
        } else {
          this.currentSlideIndex++
        }
      }
    },

    mounted() {
      if (this.interval > 0) {
        let vm = this;
        setInterval(() => {
          vm.nextSlide();
        }, vm.interval)
      }
    },

    computed: {},


  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

  .v-section-slider {
    height: 400px;

    .slider {
      margin-left: -80px;
      overflow: hidden;
    }

    .slider__body {
      display: flex;
      transition: all ease .2s;

    }

    .slider__banner {
      height: 227px;
      width: 396px;
      position: relative;
      right: 20px;
      opacity: 0.93;
      background: #e13e65;
      display: inline-block;
      bottom: 313px;

      .slider__content {
        position: absolute;
        /*margin-left: 40px;*/
        /*margin-top: 30px;*/
        align-content: center;
        padding: 25px 40px 10px 38px;
        vertical-align: center;

        .slider__link {
          font-family: 'Intro-regular-alt', sans-serif;
          font-size: 34px;
          color: #ffffff;
          white-space: nowrap;
        }

        .slider__text {
          font-family: Open-sans, sans-serif;
          font-size: 14px;
          color: #ffffff;
          margin-top: 20px;
        }

        .slider__btn {
          background: none;
          border: none;
          cursor: pointer;
          margin-top: 50px;
        }

        .prev {
          padding: 10px;
        }

        .next {
          padding: 10px;
          margin-left: 5px;
        }
      }
    }
  }
</style>
