<template>
  <section class="v-section-calculator">
    <div class="calc-wrapper">
      <div class="calc-title">
        <h1 class="calc-title__heading">Взвесьте себя и узнайте, что делать</h1>
        <p class="calc-title__paragraph">Узнайте, каким должен быть ваш вес, учитывая рост, возраст и род занятий.</p>
      </div>
      <div class="calc-table">
        <form class="calc-table__form" @submit.prevent>
          <table>
            <tr class="calc-table__top">
              <td class="calc-table__weight-text"><label class="calc-table__intro" for="weight">Вес:</label></td>
              <td class="calc-table__inputs">
                <input type="text" id="weight" class="calc-table__weight">
                <label class="calc-table__intro" for="age">Возраст:</label>
                <input type="text" id="age" class="calc-table__age">
                <label class="calc-table__intro" for="height">Рост:</label>
                <input type="text" id="height" class="calc-table__height">
              </td>
            </tr>
            <tr class="calc-table__middle">
              <td class="calc-table__who"><span class="calc-table__intro">Кто вы?</span></td>
              <td class="calc-table__gender">
                <input class="calc-table__radio hide" name="gender" type="radio" id="male">
                <label class="calc-table__radio" for="male">Мужчина</label>
                <input class="calc-table__radio hide" name="gender" type="radio" id="female">
                <label class="calc-table__radio" for="female">Женщина</label>
              </td>
            </tr>
            <tr class="calc-table__bottom">
              <td class="calc-table__physique"><span class="calc-table__intro">Телосложение</span></td>
              <td class="calc-table__type">
                <input class="calc-table__radio hide" name="type" type="radio" id="normal">
                <label class="calc-table__radio" for="normal">Нормальное</label>
                <input class="calc-table__radio hide" name="type" type="radio" id="strong">
                <label class="calc-table__radio" for="strong">Крепкое</label>
                <input class="calc-table__radio hide" name="type" type="radio" id="weak">
                <label class="calc-table__radio" for="weak">Хрупкое</label>
              </td>
            </tr>
          </table>
          <button class="calc-table__submit-btn">
            Расчитать
          </button>
        </form>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'v-section-calculator',
    data() {
      return {}
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .calc-wrapper {
    
    .calc-title {
      text-align: center;
      margin-top: 35px;
      margin-bottom: 40px;
      
      .calc-title__heading {
        font-family: 'Intro-regular-alt', sans-serif;
        color: #626161;
        font-size: 34px;
      }
      
      .calc-title__paragraph {
        margin-top: 10px;
        font-family: 'Intro-light', sans-serif;
        color: #626161;
        font-size: 22px;
      }
    }
    
    
    .calc-table {
      color: #ffffff;
      border-radius: 3px;
      background: #1bbbd8;
      
      .calc-table__form {
        padding: 50px 130px;
        
        .calc-table__submit-btn {
          font-family: 'Intro-regular-alt', sans-serif;
          font-size: 22px;
          display: block;
          margin: 0 auto;
          color: #ffffff;
          padding: 17px 60px;
          background: #20cce0;
          border: 2px solid #ffffff;
          border-radius: 2px;
          cursor: pointer;
        }
        
        .calc-table__submit-btn:hover {
          background-color: #41edff;
        }
        
        table {
          margin: 0 auto;
          border-collapse: collapse;
          border-spacing: 0;
          
          .calc-table__top {
            
            .calc-table__weight-text {
              text-align: right;
              padding-bottom: 35px;
            }
            
            .calc-table__inputs {
              padding-bottom: 35px;
              
              label:nth-child(2) {
                margin-left: 35px;
              }
              
              label:nth-child(4) {
                margin-left: 62px;
              }
              
              input {
                margin-left: 12px;
                background: #12a9c4;
                border: 1px solid #0d9bbd;
                height: 40px;
                border-radius: 3px;
                width: 80px;
                text-align: center;
                font-family: Open-sans, sans-serif;
              }
            }
          }
          
          .calc-table__middle {
            
            .calc-table__who {
              text-align: right;
              padding-bottom: 35px;
            }
            
            .calc-table__gender {
              padding-bottom: 35px;
            }
          }
          
          .calc-table__bottom {
            
            .calc-table__physique {
              text-align: right;
              padding-bottom: 35px;
            }
            
            .calc-table__type {
              padding-bottom: 35px;
            }
          }
        }
      }
    }
  }
</style>
