<template>
  <header class="v-section-header">
    <div class="schedule">
      <a href="#" class="schedule__link" @click.prevent>
        <img class="schedule__img" src="../../assets/img/calendar.png" alt="calendar">
        <span class="schedule__text">расписание занятий</span>
      </a>
    </div>
    <a href="#" class="phone" @click.prevent>
      <h3 class="phone__heading">+7 3852<span class="phone__numbers"> 28-30-28</span></h3>
    </a>
    <a href="#" class="phone" @click.prevent>
      <h3 class="phone__heading">+7 3852<span class="phone__numbers"> 28-30-29</span></h3>
    </a>
    <div class="order-call">
      <a href="#" class="order-call__link" @click.prevent>
        <img class="order-call__img" src="../../assets/img/phone.png" alt="phone">
        <span class="order-call__text">заказать звонок</span>
      </a>
    </div>
  </header>
</template>

<script>

  export default {
    name: 'v-section-header',

    data() {
      return {}
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

  .v-section-header:before {
    content: '';
    position: absolute;
    background-color: #f14e75;
    box-sizing: border-box;
    transform: translate(-51%, 0);
    left: 50%;
    width: 100.8vw;
    min-width: 100%;
    height: 100%;
    z-index: -1;
  }

  .v-section-header {
    display: flex;
    height: 50px;
    position: relative;

    .schedule {
      width: 292px;

      .schedule__link:hover {
        text-decoration: underline #ffffff;
      }


      .schedule__link {
        display: flex;
        align-items: center;
        width: 230px;
        background: #ce365b;
        height: 100%;

        .schedule__img {
          margin-left: 20px;
          margin-top: -5px;
        }

        .schedule__text {
          font-family: 'Intro-regular', sans-serif;
          color: white;
          font-size: 12px;
          text-transform: uppercase;
          margin-left: 5px;
        }
      }
    }

    .phone {
      width: 200px;
      display: flex;
      align-items: baseline;
      margin-left: 25px;

      .phone__heading {
        margin-top: 10px;
        font-family: 'Intro-regular', sans-serif;
        color: #ffa3b9;
        font-size: 14px;
        white-space: nowrap;

        .phone__numbers {
          font-family: 'Intro-bold', sans-serif;
          font-size: 20px;
          color: #ffffff;
        }
      }
    }

    .order-call {
      width: 292px;

      .order-call__link:hover {
        text-decoration: underline #ffffff;
      }

      .order-call__link {
        display: flex;
        align-items: center;
        width: 230px;
        background: #ce365b;
        height: 100%;
        margin-left: auto;

        .order-call__img {
          margin-left: 20px;
          margin-top: -5px;
        }

        .order-call__text {
          font-family: 'Intro-regular', sans-serif;
          color: white;
          font-size: 12px;
          text-transform: uppercase;
          margin-left: 20px;
        }
      }
    }
  }
</style>
