<template>
  <keep-alive>
    <div class="container">
      <router-link :to="{name: 'v-goods'}">
        <div class="v-main-wrapper__link-to-goods">Перейти к товарам</div>
      </router-link>
      <v-section-header></v-section-header>
      <v-section-navigation></v-section-navigation>
      <v-section-slider
        :carousel_data="sliderItems"
        :interval="11000"
      />
      <v-section-skier></v-section-skier>
      <v-section-calculator></v-section-calculator>
      <v-section-walker></v-section-walker>
      <v-section-footer></v-section-footer>
    </div>
  </keep-alive>
</template>

<script>
  import vSectionHeader from "./sections/v-section-header";
  import vSectionNavigation from "./sections/v-section-navigation";
  import vSectionSlider from "./sections/v-section-slider";
  import vSectionSkier from "./sections/v-section-skier";
  import vSectionCalculator from "./sections/v-section-calculator";
  import vSectionWalker from "./sections/v-section-walker";
  import vSectionFooter from "./sections/v-section-footer";
  

  export default {
    name: 'v-main-wrapper',
    components: {
      vSectionHeader,
      vSectionNavigation,
      vSectionSlider,
      vSectionSkier,
      vSectionCalculator,
      vSectionWalker,
      vSectionFooter,
    },
    data() {
      return {
        sliderItems: [
          {
            id: 1,
            name: 'img1',
            img: 'treadmills.jpg',
            event: 'Lorem ipsum dolor.',
            content: 'Lorem ipsum dolor sit amet, consectetur adipisicing.'
          },
          {
            id: 2,
            name: 'img2',
            img: 'woman.jpg',
            event: 'Lorem ipsum dolor.',
            content: 'Lorem ipsum dolor sit amet, consectetur adipisicing.'
          },
          {
            id: 3,
            name: 'img3',
            img: 'push-up.jpg',
            event: 'Lorem ipsum dolor.',
            content: 'Lorem ipsum dolor sit amet, consectetur adipisicing.'
          },
          {
            id: 4,
            name: 'img4',
            img: 'cross.jpg',
            event: 'Lorem ipsum dolor.',
            content: 'Lorem ipsum dolor sit amet, consectetur adipisicing.'
          },
        ],
      }
    },
    computed: {},
    methods: {
    
    },
  }
</script>

<style lang="scss">
  .container {
    max-width: 980px;
    min-width: 800px;
    margin: 0 auto;
    position: relative;

    .v-main-wrapper__link-to-goods {
      position: absolute;
      left: 0;
      top: 50px;
      z-index: 1;
      font-family: Intro-regular, sans-serif;
      color: #000000;
    }
  }

</style>
